<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices volutpat euismod. Nullam lorem mauris, euismod non eleifend vitae, feugiat sed augue.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices volutpat euismod. Nullam lorem mauris, euismod non eleifend vitae, feugiat sed augue.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices volutpat euismod. Nullam lorem mauris, euismod non eleifend vitae, feugiat sed augue.</p>
   </div>
   <%- include("./partials/footer.ejs") %>
</body>
</html>